<form action="/form" method="POST">
    First name:<br>
    <input type="text" name="firstName" placeholder="first Name">
    <br>
    Last name:<br>
    <input type="text" name="secondName" placeholder="Second Name">
    <br><br>
    <input type="submit" value="Submit">
</form>